@font-face { 
  font-family: "Ionicons"; 
  src: url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"); 
  /*src: url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); */
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
    font-family: 'Chiller-LET-Plain10';
    src:url('../fonts/Chiller-LET-Plain10.ttf.woff') format('woff'),
        url('../fonts/Chiller-LET-Plain10.ttf.svg#Chiller-LET-Plain10') format('svg'),
        url('../fonts/Chiller-LET-Plain10.ttf.eot'),
        url('../fonts/Chiller-LET-Plain10.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/** MAIN **/

body {
  font-size: 16px;
  font-weight: 200;
  color: #222;
  background-color: #f2f2f2;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  padding-top: 30px;
  padding-bottom: 15px;
}

section {
  margin-bottom: 30px;
}

.caption {
  font-size: 0.6em;
}

a, a:focus, a:hover {
  color: #047689;
  text-decoration: none;
}

.ion {
  font-size: 1.2em;
}

.btn, .btn:focus, .btn:active {
  outline: none;
}

.btn-outline-primary {
  border-color: #047689;
  color: #047689;
  border-radius: 0;
  margin-bottom: 15px;
  height: 50px;
  line-height: 20px;
  padding: 15px 15px;
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:hover {
  background: #047689;
  color: #fff;
  border: none;
}

.grey {
  color: #6d6d6d;
}

/** HEADER **/

header, header a, .navbar-toggler {
  color: #fff;
  font-weight: 200;
  vertical-align: middle;
}

header a:hover, header a:focus, .navbar-toggler:focus, .navbar-toggler:hover {
  color: #047689;
  vertical-align: middle;
  outline: none;
}

nav, nav#start.scrolled, .navbar-collapse.show {
  background-color: #222;
  /*max-height: 60px;*/
}

nav#start {
  background-color: transparent; 
}


a.navbar-brand {
  padding-left: auto;
}

.navbar-collapse.show {
  min-width: 100vw;
  text-align: center;
}

.navbar-nav span{
  font-size: 0.9em;
}

/*.navbar-expand-lg>.container {
 padding-right: 15px;
 padding-left: 15px; 
}*/

.jumbotron {
  padding-top: 30vh;
  padding-bottom: 40px;
  min-height: 66vh;
  text-align: center;
  background-image: url(../images/jumb.png); 
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}


@media (max-width: 767px){

  a.navbar-brand {
  padding-left: 15px;
  }

  section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .readable .laptop {
    width: 100%;
    margin-left: 0px;
  }

  .flex-container-sb {
  border: solid 1px #222; 
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  }

  .op-area {
    max-width: 100px;
    padding: 10px 10px 0px 10px; 
    align-self:center;
  }

  .proj-img-mobile {
  padding: 15px;
  width: 100%;
  max-width: 100%;
  }

}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-sb {
  display: flex;
  justify-content: space-between;
  border: solid 1px #222; 
  margin-bottom: 15px;
}

.op-area {
    max-width: 200px;
    padding: 10px 10px 0px 10px; 
    align-self:center;
  }

/* ----------------------- END HEADER ----------------------- */

/*FILTERS*/

.filter-button
{
    border: 0px solid #047689;
    border-radius: 0px;
    text-align: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 15px 15px 5px;

}
.filter-button:hover, .filter-button:active
{
    text-align: center;
    color: #fff;
    background-color: #047689;
    border-radius: 0px;

}
.btn-default:active .filter-button:active
{
    background-color: #047689;
    border-radius: 0px;
    color: white;
}

/* ----------------------- END FILTERS ----------------------- */

/*GALLERY*/

.gallery_product a:focus, .gallery_product a:hover{
  color: #047689;
  text-decoration: none;
}

.proj-preview {
  margin-top: 5%;
  margin-top: 5%;
  width: 100%;
}

.proj-title-container {
  margin-bottom: 10%;
  width: 100%;

}

p.proj-title {
  text-align: center;
  color: #222;
  font-weight: 600;
  margin-left: 10%;
  margin-top: 0;
  margin-right: 10%;
  margin-bottom: 4%;
}

p.category {
  font-size: 0.8em;
  text-align: center;
}

.inactive-item {
  float: left;
  background-color: #f2f2f2;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/* ----------------------- END GALLERY ----------------------- */

/*PROJECT PAGE*/

.readable {            /*container with readable width*/
  max-width: 800px;
  padding: 0;
}

.first-row {
  margin-top: 120px;
}

.proj-lead {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  margin-bottom: 10px;
}

.proj-img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.proj-img-small {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.proj-img-mobile {
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
}

.laptop {
  /*width: 122.5%;
  margin-left: -11.25%;*/
  width: 132%;
  margin-left: -16%;
}

.img-shad {
  -webkit-box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
}

.grey-list-item {
  opacity: 0.4;
}

/* ----------------- lightbox gallery-------------- */

.modal-footer {
   justify-content: flex-start;
}

.lbox-title {
  display: none;
}

.gallery-container {
  padding: 0px 10px;
}

.gallery-col {
  padding-right: 5px;
  padding-left: 5px;
}

.gallery-img-container {
  position:relative;
  overflow:hidden; 
  padding-bottom:100%;
  margin: 5px 0px;
}

.gallery-img {
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
}

@media (max-width: 767px){

  a[data-toggle="lightbox"] {
    pointer-events: none;
    cursor: default;
    color: #222;
  }

  .lbox-title {
    display: block;
  }
}

/* ----------------- end lightbox gallery-------------- */

/* ----------------------- END PROJECT PAGE ----------------------- */

.carousel {
  margin-top: 30px;
}

.carousel-indicators {
  position: relative;
  margin: 0;
  padding: 20px;
  width: 100%;
  left:0;
}

.carousel-indicators-right {
  position: absolute;
  padding: 0;
  left: inherit;
  width: 20%;
  height: auto;
  right: 0; 
  top: 0;
  padding-top: 0;
  display: block;
}

.carousel-indicators-right>li {
  height: 20% !important;
  margin: 10px !important;
  padding: 0 !important;
  width: auto !important;
}

.carousel-indicators-right>li>img{
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.carousel-indicators li {
  justify-content: center;
  text-indent: 0;
  margin: 20px 15px 50px 15px;
  width: 100px;
  border: none;
}

.carousel-indicators .active {
  background-color: none;
  width: 100px;
  margin: 20px;
  border: none;
}

.carousel-indicators img, .carousel-inner img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.carousel-indicators .active img {
  border: 2px solid #047689;
}

.carousel-inner {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

