@font-face { 
  font-family: "Ionicons"; 
  src: url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"); 
  /*src: url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); */
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
    font-family: 'Chiller-LET-Plain10';
    src:url('../fonts/Chiller-LET-Plain10.ttf.woff') format('woff'),
        url('../fonts/Chiller-LET-Plain10.ttf.svg#Chiller-LET-Plain10') format('svg'),
        url('../fonts/Chiller-LET-Plain10.ttf.eot'),
        url('../fonts/Chiller-LET-Plain10.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/** MAIN **/

body {
  font-size: 16px;
  font-weight: 200;
  color: #222;
  background-color: #f2f2f2;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

h2 {
  font-weight: 600;
  font-size: 2em;
  padding-top: 30px;
  padding-bottom: 15px;
}

section {
  margin-bottom: 30px;
}

.caption {
  font-size: 0.6em;
}

a, a:focus, a:hover {
  color: #047689;
  text-decoration: none;
}

.btn-outline-primary {
  border-color: #047689;
  border-radius: 0;
  margin-bottom: 15px;
  height: 50px;
  padding: 14px;
}

.collapse {
  margin-bottom: 30px;
}

.grey {
  color: #6d6d6d;
}

/** HEADER **/

header a, .jumbotron-fluid, .dropdown {
  color: #fff;
}

header a:hover, header a:focus {
  color: #047689;
}

.dropdown-menu {
  font-size: inherit;
  border-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px){
  
  nav {
  font-size: 1.25em;
  }

  #header-container {
    padding: 0;
  }

  .navbar-nav .open .dropdown-menu>li>a {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #222;
    text-align: center;
  }

  .nav>li>a {
    display: inline-block;
  }

  .navbar-right {
    margin: 0;
    text-align: right;
  }

  #fb, #twi, #inst, #mail {  /*center link icon vertically*/
    line-height: 20px;
    display: inline-block;
  }

  .navbar-nav>li>a {  /*center link icon vertically*/
    line-height: 30px;
  }

  section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .laptop {
    width: 100%;
    margin: 0;
  }

  .flex-container-sb {
  border: solid 1px #222; 
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  }

  .op-area {
    max-width: 100px;
    padding: 10px 10px 0px 10px; 
    align-self:center;
  }

  .proj-img-mobile {
  padding: 15px;
  width: 100%;
  }

}

#fb, #twi, #inst, #mail {
  display: inline-block;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-sb {
  display: flex;
  justify-content: space-between;
  border: solid 1px #222; 
  margin-bottom: 15px;
}

.op-area {
    max-width: 200px;
    padding: 10px 10px 0px 10px; 
    align-self:center;
  }

li.dropdown.open a {
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.dropdown-menu {
  min-width: 180px;
}

.dropdown-menu .divider {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown-menu>li a {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  min-width: 50px;
}

.nav>li>a {
  display: inline-block;
  min-width: 50px;
  text-align: center;
}

.nav>li a:focus, .nav>li a:hover {
  color: #222;
  background-color: #eee;
}

#header, #navbar, .navbar, .collapse, .navbar-collapse, .dropdown-toggle {
  height: 50px;
  min-height: 50px;
}

#header-nav {
  border-radius: 0;
  border: 0;
}

.jumbotron-fluid {
  background-color: #222;  /*jumb back color*/
}

.jumbotron {
  padding-top: 100px;
  text-align: center;
  background-image: url(../images/jumb.png); 
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-fluid p {
  font-weight: 200;
  font-size: 1em;
}

.navbar.navbar-fixed-top.filled, /*background for menu on pages without jumbotrone*/
.dropdown-menu {   /*background for menu on pages without jumbotrone*/
  background-color: #222;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
    height: 50px;
}

.chiller {
  font-family: 'Chiller-LET-Plain10';
  font-size: 1.5em;
  position: relative;
  bottom: -5%;
}

/* ----------------------- END HEADER ----------------------- */

/*FILTERS*/

.filter-button
{
    border: 0px solid #047689;
    border-radius: 0px;
    text-align: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 5px 5px 5px;

}
.filter-button:hover
{
    text-align: center;
    color: #fff;
    background-color: #047689;
    border-radius: 0px;

}
.btn-default:active .filter-button:active
{
    background-color: #047689;
    border-radius: 0px;
    color: white;
}

/* ----------------------- END FILTERS ----------------------- */

/*GALLERY*/

.gallery_product a:focus, .gallery_product a:hover{
  color: #047689;
  text-decoration: none;
}

.proj-preview {
  margin-top: 5%;
  margin-top: 5%;
  width: 100%;
}

.proj-title-container {
  margin-bottom: 10%;
  width: 100%;

}

p.proj-title {
  text-align: center;
  color: #222;
  font-weight: 600;
  margin-left: 10%;
  margin-top: 0;
  margin-right: 10%;
  margin-bottom: 4%;
}

p.category {
  font-size: 0.8em;
  text-align: center;
}

.inactive-item {
  float: left;
  background-color: #f2f2f2;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

/* ----------------------- END GALLERY ----------------------- */

/*PROJECT PAGE*/

.readable {            /*container with readable width*/
  max-width: 800px;
  padding: 0;
}

.first-row {
  margin-top: 120px;
}

.proj-lead {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  margin-bottom: 10px;
}

.proj-img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.proj-img-small {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.proj-img-mobile {
  margin-bottom: 15px;
  width: 100%;
}

.laptop {
  /*width: 122.5%;
  margin-left: -11.25%;*/
  width: 132%;
  margin-left: -16%;
}

.img-shad {
  -webkit-box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 25px -6px rgba(0,0,0,0.75);
}

/* ----------------------- END PROJECT PAGE ----------------------- */

.carousel {
  margin-top: 30px;
}

.carousel-indicators {
  position: relative;
  margin: 0;
  padding: 20px;
  width: 100%;
  left:0;
}

.carousel-indicators li {
  justify-content: center;
  text-indent: 0;
  margin: 20px 15px 50px 15px;
  width: 100px;
  border: none;
}

.carousel-indicators .active {
  background-color: none;
  width: 100px;
  margin: 20px;
  border: none;
}

.carousel-indicators img {
  width: 100%;
}

.carousel-indicators .active img {
  border: 2px solid #047689;
}

.carousel-inner {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

